<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554416796284-7n5f13oasm3boh58mui5sll91k6h48vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554416796284-7n5f13oasm3boh58mui5sll91k6h48vv</string>
	<key>API_KEY</key>
	<string>AIzaSyD04-d6onRVCgj3jALEXrLkswUiBkIDtB8</string>
	<key>GCM_SENDER_ID</key>
	<string>554416796284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lydiaryan.fluttersurvey</string>
	<key>PROJECT_ID</key>
	<string>flutter-ic-lydia-ryan</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ic-lydia-ryan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554416796284:ios:754f1f12e4589648ebcff9</string>
</dict>
</plist>